/* Estilo general */
body {
    background: linear-gradient(to bottom, #1E0F31, #2C1A4C);
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Encabezado */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 120px;
    height: auto;
}

/* Carrusel */
.carousel-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.carousel::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en Chrome/Safari */
}

.carousel-item {
    flex: 0 0 80%;
    max-width: 400px;
    scroll-snap-align: start;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
}

/* Sucursales */
.sucursales {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.sucursal {
    width: 120px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.sucursal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sucursal:hover {
    transform: scale(1.1);
}

/* Pie de página */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 0.8rem;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    .carousel-item {
        flex: 0 0 75%;
        max-width: 300px;
    }

    .sucursal {
        width: 100px;
        height: 90px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 80px;
    }

    .carousel-item {
        flex: 0 0 70%;
        max-width: 250px;
    }

    .sucursal {
        width: 90px;
        height: 80px;
    }
}